<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement.username.first_name %>
</p>


<p>
  <strong>Amount:</strong>
  <%= @movement.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @movement.amount_currency %>
</p>


<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
